body {
  main {
    .additional-wrapper {
      .additional-group-wrapper {
        .card {
          .card-image {
            width: 100%;
            height: 200px;
            background-size: cover;
          }
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }
}
