.chooseModeButton {
  width: 100px;
  height: 100px;
  background-position: cover;
  background-size: cover;
  margin: 5px;
  background-color: rgb(104, 86, 86);
  opacity: 0.5;
}
.buttonChecked {
  opacity: 1;
}
.remove,
.save {
  width: 70px;
  height: 40px;
}

.hide {
  display: none;
}

input:checked + label {
  opacity: 1;
}

canvas {
  border: 1px dashed black;
}
