{
  "globals": {
    "window": true,
    "document": true,
    "fetch": false
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}
